/* Forms */
/* Task Form */

#task-form {
    position: fixed;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 1px 2px black;
    max-width: 90%;
    background-color: var(--glassLightBg);
    border-radius: 5px;
    border: 1px solid var(--glassLightBg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  #task-form > h1, #chapter-form > h1 {
    text-align: center;
    font-family: var(--titleFont);
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  #task-form > label {
    font-family: var(--textFont);
    margin-bottom: 0.5vh;
  }
  
  #task-form > input, textarea, select {
    margin-bottom: 2vh;
    font-size: 1.1rem;
  }
  
  #form-buttons-div {
    display: flex;
    justify-content: space-around;
  }
  #form-buttons-div > button {
    font-family: var(--titleFont);
    font-size: 1.3rem;
    transition: .3s;
    font-weight: bold;
    margin-top: 3vh;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 2px black;
  }
  
  #form-buttons-div > button:nth-of-type(1) {
    background-color: var(--sectionBg);
    color: var(--sectionTextColor);
    text-shadow: var(--textShadow);
  }
  
  #form-buttons-div > button:nth-of-type(2) {
    background-color: var(--sectionTextAccent);
    color: black;
  }
  
  #form-buttons-div > button:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
  
  /* Chapter form */
  
  #chapter-form {
    min-width: 50%;
    position: fixed;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px black;
    gap: 1.5vh;
    background-color: var(--glassLightBg);
    border-radius: 5px;
    border: 1px solid var(--glassLightBg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    }
  
  #chapter-form > h1 {
    margin-bottom: 10px;
  };
  
  @media (max-width: 800px) {
    #chapter-form {
      width: 80%;
    }
  }
  
  #chapter-form > label {
    font-size: 20px;
    text-align: center;
  }
  
  #chapter-form > input {
    font-size: 24px;
  }
  
  /* Delete task confirmation box */
  
  #confirm-task-deletion-box {
    position: fixed;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--glassLightBg);
    border-radius: 5px;
    border: 1px solid var(--glassLightBg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2vh 3vw;
    gap: 2vh;
    box-shadow: 0px 1px 2px black;
    max-width: 80%;
  }
  
  #confirm-task-deletion-box > p {
    font-family: var(--textFont);
  }
  
  #confirm-task-deletion-box > div {
    display: flex;
    justify-content: space-around;
  }
  
  #confirm-task-deletion-box > div > button {
    width: 30%;
    min-height: 3vh;
    border-radius: 5px;
    box-shadow: 0px 1px 1px black;
    font-family: var(--titleFont);
    font-weight: bold;
    transition: .3s;
  }
  
  #confirm-task-deletion-box > div > button:hover {
    cursor: pointer;
    transform: translatey(-2px);
  }
  
  #confirm-task-deletion-box > div > button:nth-of-type(1) {
    background-color: var(--sectionTextAccent);
  }
  
  #confirm-task-deletion-box > div > button:nth-of-type(2) {
    background-color: var(--sectionBg);
    color: var(--sectionTextColor);
    text-shadow: var(--textShadow);
  }

/* Note form */

#note-form {
  position: fixed;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 1px 2px black;
  max-width: 80%;
  background-color: var(--glassLightBg);
  border-radius: 5px;
  border: 1px solid var(--glassLightBg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  gap: 10px;
}

#note-form > label {
  font-family: var(--titleFont);
  text-align: center;
}

#note-form > input {
  min-width: 50%;
  font-size: 1.5rem;
  align-self: center;
  border-radius: 5px;
  border: none;
  font-family: var(--textFont);
  text-align: center;
}

#note-form > textarea {
  border-radius: 5px;
  border: none;
  font-family: var(--textFont);
}

@media (max-width: 820px) {
  #task-form, #chapter-form, #confirm-task-deletion-box, #note-form {
    background-color: var(--sectionBgGlassM);
    border-radius: 5px;
    border: 1px solid var(--sectionBgGlassM);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* text-shadow: 1px 1px 1px white; */
    color: white;
  }
}

