/* User Menu Section */

#user-menu {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 15px 5px;
  }
  
  .user-menu-div {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  
  .user-menu-icon {
    font-size: calc(1.2vh + 1.2vw);
    color: var(--sectionTextColor);
    width: 10%;
    transition: .3s;
    filter:drop-shadow(var(--textShadow));
  }
  
  .user-menu-button {
    font-size: calc(1.3vh + 1.3vw);
    text-align: left;
    color: var(--sectionTextColor);
    background: none;
    border: none;
    font-family: var(--titleFont);
    font-weight: bold;
    text-shadow: var(--textShadow);
    transition: .2s;
  }
  
  .user-menu-div:hover .user-menu-button, .user-menu-chapter:hover {
    transform: translatex(4px);
    color: var(--sectionTextAccent);
    cursor: pointer;
  }
  
  .user-menu-div:hover .user-menu-icon{
    color: var(--sectionTextAccent);
    transform: scale(1.1);
    cursor: pointer;
  }
  
  #user-menu-chapters-list {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #user-menu-chapters-list.hidden {
    display: none;
  }
  
  .user-menu-chapter {
    font-size: calc(1.25vh + 1.25vw);
    text-align: left;
    color: var(--sectionTextColor);
    background: none;
    border: none;
    font-family: var(--titleFont);
    font-weight: bold;
    text-shadow: var(--textShadow);
    transition: .2s;
  }

  @media(max-width: 820px) {
    #user-menu-chapters-list {
      align-self:flex-start;
      margin-left: 15%;
    }
  }