/* FONTS */
/* Regular */
@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Bold */
  @font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
/* Regular */
@font-face {
    font-family: 'Playfair Display SC';
    src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Bold */
  @font-face {
    font-family: 'Playfair Display SC';
    src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'Playfair Display SC';
    src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'Playfair Display SC';
    src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
/* Meyer reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


* {
  box-sizing: border-box;
}

:root {
  --titleFont: 'Playfair Display SC';
  --textFont: 'PlayFair Display';
  --sectionBg: #D34633;
  --sectionBgTransparent: #d34633d2;
  --sectionTextColor: #F7EACB;
  --sectionTextAccent: #F7C855;
  --textShadow: 1px 1px 2px black;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/dreamdaylandingpagebg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-background {
  flex: 1;
  background: url('./images/dreamdaylandingpagebg.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
/* HOMEPAGE */
/* NAVBAR */
#navbar {
  height: 5vh;
  width: 100vw;
  background-color: var(--sectionBg);
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  box-shadow: 0px 1px 2px black;
  z-index: 99;
}

#nav-links {
  display: flex;
  gap: 2vw;
}

@media (max-width: 800px) {
  #navbar {
    justify-content: center;
  }
  #nav-links {
    gap: 5vw;
  }
}

#nav-links > button {
  background: none;
  border: none;
  padding: 0;
  font-size: 2.5vh;
  font-family: var(--titleFont);
  font-weight: bold;
  color: var(--sectionTextColor);
  transition: .2s;
  text-shadow: var(--textShadow);
}

#nav-links > button:hover {
  transform: translateY(-2px);
  color: var(--sectionTextAccent);
  text-decoration: underline;
  cursor: pointer;
}

/* HERO */
#hero-section {
  position: absolute;
  bottom: 0;
  height: 25vh;
  width: 100vw;
  background-color: var(--sectionBgTransparent);
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding: 2vh 5vw;
  font-family: var(--titleFont);

}

#hero-section > h1 {
  font-size: calc(3vh + 1vw);
  font-weight: bold;
  color: var(--sectionTextColor);
  font-style: italic;
  text-shadow: var(--textShadow)
}

#hero-section > p {
  color: var(--sectionTextColor);
  text-shadow: 1px 1px 2px black;
}
#hero-section >p:nth-of-type(1) {
  font-size: calc(1.5vh + 1vw);
}

#hero-section >p:nth-of-type(2) {
  font-size: calc(1vh + 1vw);
}

#hero-section > p > span {
  color: var(--sectionTextAccent);
  font-style: italic;
}

#hero-section > p > span:hover {
  transform: translateY(-2px);
  text-decoration: underline;
  cursor: pointer;
}

/* USER PAGE */

#main-container {
  height: 90vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 20% 75%;
  column-gap: 5%;
  grid-template-rows: 10% 85%;
  row-gap: 5%;

}

#user-info, #user-menu, #panel {
  background-color: var(--sectionBgTransparent);
  border-radius: 5px;
  box-shadow: 0px 1px 2px black;
}
#user-info {
  grid-area: 1 / 1 / 2 / 2;
}

#user-menu {
  grid-area: 2 / 1 / 3 / 2;
}

#panel {
  grid-area: 1 / 2 / 3 / 3;
  padding: 20px;
}

@media (max-width: 1280px) {
  #main-container {
    grid-template-columns: 30% 65%;
  }
}

@media (max-width: 800px) {
  #main-container {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    column-gap: 0;
    grid-template-rows: 10% auto auto;
    row-gap: 2vh;
  }

  #user-info, #user-menu, #panel {
    border-radius: 0;
  }

  #user-info {
    grid-area: 1 / 1 / 2 / 2;
  }

  #user-menu {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  #panel {
    grid-area: 3 / 1 / 4 / 2;
  }
}

/* User Info Section */

#user-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}
#profile-pic {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--sectionTextAccent);
}
#user-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#user-info-text > h1 {
  font-family: var(--titleFont);
  color: var(--sectionTextColor);
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: var(--textShadow);
}

#user-info-text > h1:hover {
  cursor: default;
}

#user-info-text > h2 {
  font-family: var(--titleFont);
  color: var(--sectionTextAccent);
  text-align: end;
  text-shadow: var(--textShadow);
  transition: .2s;
}

#user-info-text > h2:hover {
  transform: translateY(-2px);
  color: var(--sectionTextColor);
  cursor: pointer;
}

/* User Menu Section */

#user-menu {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 15px 5px;
}

.user-menu-div {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.user-menu-icon {
  font-size: calc(1.2vh + 1.2vw);
  color: var(--sectionTextColor);
  width: 10%;
  transition: .3s;
  filter:drop-shadow(var(--textShadow));
}

.user-menu-button {
  font-size: calc(1.3vh + 1.3vw);
  text-align: left;
  color: var(--sectionTextColor);
  background: none;
  border: none;
  font-family: var(--titleFont);
  font-weight: bold;
  text-shadow: var(--textShadow);
  transition: .2s;
}

.user-menu-div:hover .user-menu-button, .user-menu-chapter:hover {
  transform: translatex(4px);
  color: var(--sectionTextAccent);
  cursor: pointer;
}

.user-menu-div:hover .user-menu-icon{
  color: var(--sectionTextAccent);
  transform: scale(1.1);
  cursor: pointer;
}

#user-menu-chapters-list {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#user-menu-chapters-list.hidden {
  display: none;
}

.user-menu-chapter {
  font-size: calc(1.25vh + 1.25vw);
  text-align: left;
  color: var(--sectionTextColor);
  background: none;
  border: none;
  font-family: var(--titleFont);
  font-weight: bold;
  text-shadow: var(--textShadow);
  transition: .2s;
}

/* Tasks */

.task-div {
  margin-bottom: 1vh;
  display: flex;
  padding: 10px;
  background-color: var(--sectionTextColor);
  border-radius: 5px;
  box-shadow: 0px 1px 2px black;
  font-family: var(--textFont);
  transition: .2s;
}

.task-div:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 2px var(--sectionBg);
}

.task-div-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1vh;  
}

.task-div-left:hover {
  cursor:default;
}

.task-div-left h1 {
  font-size:  calc(1.2vh + 1.2vw);
  font-weight: bold;
}

.task-div-left h2 {
  font-size:  calc(1vh + 1vw);
  color: var(--sectionBg);
}

.task-div-left p {
  font-size:  calc(0.9vh + 0.9vw);
  font-style: italic;
}

.task-div-right {
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: space-around;
  padding-right: 2vw;
}

.task-div-right svg {
  font-size: calc(1.3vh + 1.3vw);
  color: var(--sectionBg);
  transition: .2s;
}

.task-div-right svg:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(10deg);
  filter:drop-shadow(1px 1px 1px var(--sectionTextAccent));
}

.title-date-div {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: baseline;
}

/* Panel */
#title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
}

#title-buttons > button {
  font-family: var(--textFont);
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: var(--sectionTextColor);
  padding: 0;
  font-size: calc(0.8vw + 0.8vh);
  text-shadow: var(--textShadow);
  transition: .3s;
}

#title-buttons > button:hover {
  transform: translateY(-2px) scale(1.05);
  color: var(--sectionTextAccent);
  cursor: pointer;
}

#title-container > h1 {
  font-size: calc( 2vh + 2vw);
  text-align: center;
  margin-bottom: 2vh;
  font-weight: bold;
  font-family: var(--titleFont);
  color: var(--sectionTextColor);
  text-shadow: var(--textShadow);

}